body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.log-div {
	position: fixed;
	width: 80vw;
	height: 100%;
}
.log-frame {
	display: block;
	width: 80vw;
	height: 100%;
	border: none;
}
